:root {
   --bgColorTop: radial-gradient(
      circle at 25% 50%,
      rgb(253 255 0) 0%,
      rgb(255 206 69) 50%
   );
   --bgColor: #fff;
   --textColor: #000;
   --aHover: #f0ecec;
}
.photo{
   filter: brightness(0);
}
/* theme */
@media screen and (prefers-color-scheme: dark) {
   :root {
      --bgColorTop: radial-gradient(
         circle at 25% 50%,
         rgb(96, 96, 96) 14%,
         rgba(24, 32, 49, 1) 100%
      );
      --bgColor: #000;
      --textColor: #fff;
      --aHover: #555050;
   }
   .photo{
      filter: brightness(1);
   }
}
@media (hover: none) and (pointer: coarse) {
   #rellinks a {
      border: 1px dotted red;
      border-radius: 20px;
   }
}
html {
   font-family: "Sans-serif", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
   font-size: 10px;
}
* {
   box-sizing: border-box;
   color: var(--textColor);
   transition: all 0.5s ease;
}
body {
   margin: 0;
   background-color: var(--bgColor);
}
main {
   max-width: 2000px;
   margin: 0 auto;
   overflow-x: hidden;
}
a {
   text-decoration: none;
   transition: border 100ms ease;
}
a:hover {
   background-color: var(--aHover);
   border-radius: 10px;
}
/* introduce */
h1 {
   font-size: clamp(35px, 7vw, 140px);
   margin: 0;
   margin-bottom: -20px;
}
#introduce,
#skill,
#Projects {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   padding: 20px 5%;
   background: var(--bgColorTop);
}
#introduce {
   height: 100svh;
   min-height: 400px;
}
#myImg,
#skillImg {
   width: 40%;
   align-self: center;
   position: relative;
}
#myImg img {
   width: 100%;
   aspect-ratio: 1/1;
}
@keyframes svg {
   0% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(20px) rotate(15deg);
   }
}
#myIntroduce {
   width: 60%;
}
#myIntroduce span {
   font-size: clamp(25px, 5vw, 100px);
}
#myIntroduce p {
   margin: 0;
   font-size: clamp(20px, 2.5vw, 50px);
   margin-top: 20px;
}
.blue{
   color: #00f;
}
#youNeed {
   display: flex;
   justify-content: flex-start;
   gap: 10px;
   margin: 10px 0;
}
#youNeed > * {
   display: flex;
   align-items: center;
   gap: 10px;
   background-color: var(--bgColor);
   padding: 10px 20px;
   border-radius: 12px;
   color: var(--textColor);
   user-select: none;
   border: none;
   &:hover {
      background-color: rgb(121, 121, 243);
   }
}
#mode{
   width: 30px;
   height: 30px;
   border-radius: 100%;
   background-color: var(--textColor);
   &:hover{
      background-color: var(--textColor);
   }
}
/* skills */
main h2 {
   margin-left: 20px;
}
#skill,
#Projects {
   background: none;
   padding: 0 5% 40px 5%;
}
#skillImg {
   width: 45%;
}
#skillImg img {
   width: 90%;
}
.svg {
   position: absolute;
   width: 50px !important;
   animation: svg 1s ease 1s infinite alternate both;
   &:hover {
      animation-play-state: paused;
   }
}
.html {
   top: 70%;
   left: 5%;
}
.css {
   top: 0%;
   left: 0%;
}
.js {
   top: 71%;
   left: 80%;
}
.skills {
   width: 50%;
}
.skill-name {
   font-size: 20px;
   font-weight: 700;
   color: var(--textColor);
   text-transform: uppercase;
   margin: 15px 0 5px 0;
   display: flex;
   align-items: center;
}
.skill-name img {
   width: 40px;
   aspect-ratio: 1/1;
   z-index: 2;
   margin-right: 10px;
   position: relative;
}

.skill-bar {
   height: 14px;
   background: #282828;
   border-radius: 3px;
}

.skill-per {
   height: 14px;
   background: #d13639;
   border-radius: 3px;
   position: relative;
   color: #000;
}
.skill-per.two {
   background-color: #00f;
}
.skill-per.three {
   background-color: rgb(247, 223, 30);
}
.active {
   animation: fillBars 2.5s 1;
   animation-fill-mode: forwards;
}

.skill-per::before {
   content: attr(per);
   position: absolute;
   padding: 4px 6px;
   background: #f1f1f1;
   border-radius: 4px;
   font-size: 12px;
   top: 15px;
   right: 0;
   transform: translateX(50%);
   z-index: 1;
}

.skill-per::after {
   content: "";
   position: absolute;
   width: 10px;
   height: 10px;
   background: #f1f1f1;
   top: 10px;
   right: 0;
   transform: translateX(50%) rotate(45deg);
   border-radius: 2px;
}

@keyframes fillBars {
   from {
      width: 0;
   }
   to {
      width: 100%;
   }
}
/* projects */
#Projects {
   flex-flow: row wrap;
   gap: 30px 20px;
   justify-content: space-evenly;
   align-items: stretch;
}
.project {
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
   width: 30%;
   min-width: 285px;
   background-color: var(--aHover);
   padding: 20px 10px;
   border-radius: 10px;
}
.project a {
   border: 0px solid red;
   color: #fff;
   transition: border-bottom 0.3s ease-out;
}
.project a:hover {
   border-bottom: 40px solid red;
}
.project * {
   color: var(--textColor);
}
.projectsImg {
   border-radius: 10px 0;
}
.projectsImg img {
   width: 100%;
   aspect-ratio: 16/9;
}
#Projects h3 {
   margin: 5px 0;
   font-size: 20px;
}
#Projects p {
   font-size: 17px;
   margin: 10px 0;
}
.project a {
   display: block;
   background: blue;
   border-radius: 5px;
   width: 200px;
   height: 40px;
   text-align: center;
   line-height: 40px;
   font-size: 22px;
   margin: 0 auto;
   padding: 0;
}
/* footer */
footer {
   margin: 50px 0;
}
footer a {
   padding: 7px 20px;
}
footer h2 {
   text-align: center;
   font-size: 40px;
}
#contact {
   padding: 0 5% 40px 5%;
}
#rellinks,
#rellinks a {
   display: flex;
   justify-content: center;
   align-items: baseline;
   flex-flow: row wrap;
   gap: 30px;
   font-size: 25px;
}
#rellinks a {
   color: var(--textColor);
   gap: 10px;
   align-items: center;
}
#rellinks strong {
   font-size: 40px;
   user-select: none;
}
#rellinks img {
   width: 30px;
   aspect-ratio: 1/1;
   user-select: none;
}
#rellinks img[src*="X.webp"] {
   width: 21px;
}
#rellinks a[href*="x.com"] {
   transform: translateY(-5px);
}
#rellinks img[src*="description.svg"] {
   width: 24px;
}
#rellinks a[href*="read.cv"] {
   transform: translateY(-3px);
}
#rellinks img[src*="LinkedIn.svg"] {
   width: 21px;
}
#rellinks a[href*="linkden.com"] {
   transform: translateY(-4px);
}
#copywrite {
   margin: 0 10px;
}
/* media */
@media screen and (min-height: 1000px) {
   #introduce {
      height: max-content;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
   }
}
@media screen and (min-width: 1000px) {
   #youNeed > * {
      padding: 15px 25px;
      font-size: 40px;
   }
   #mode {
      width: 40px;
      height: 40px;
   }
   .skills {
      display: flex;
      flex-flow: column nowrap;
      gap: 35px;
   }
   .skill-name {
      font-size: 30px;
   }
   .skill-name img {
      width: 50px;
   }
   .skill-bar {
      height: 20px;
   }
   .skill-per {
      height: 20px;
   }
}
@media screen and (min-width: 1500px) {
   #youNeed {
      gap: 30px;
      margin-top: 30px;
   }
   #myIntroduce #youNeed > * {
      font-size: 40px;
      padding: 25px 35px;
   }
   .skills {
      gap: 60px;
   }
}
@media screen and (min-width: 701px) {
   main > h2 {
      font-size: 30px;
   }
   #youNeed * {
      font-size: 30px;
   }
   #myImg {
      order: 2;
   }
   #myIntroduce {
      order: 1;
   }
}
@media screen and (max-width: 700px) {
   #introduce {
      flex-flow: column nowrap;
      justify-content: center;
      overflow: auto;
      height: 100vh;
      border-radius: 0;
      min-height: 650px;
   }
   #introduce > * {
      width: 100%;
   }
   h1 {
      margin-bottom: -5px;
   }
   #introduce * {
      text-align: center;
   }
   #introduce br {
      display: none;
   }
   #myImg {
      width: fit-content;
      margin: 5px auto;
   }
   #myImg img {
      max-width: 300px;
   }
   #youNeed {
      justify-content: center;
   }
   #youNeed > * {
      font-size: 2rem;
   }
   #skill {
      display: block;
   }
   #skill > * {
      display: block;
      width: 100%;
   }
   .project {
      width: 100%;
   }
   #rellinks a {
      width: 30%;
      min-width: max-content;
      flex-direction: column;
   }
}
@media screen and (max-width: 500px) {
   #rellinks a {
      flex-direction: column;
   }
   .project {
      width: 100%;
      min-width: 100px;
   }
   #rellinks {
      flex-direction: column;
   }
   #rellinks a {
      flex-direction: row;
      width: 100%;
   }
}