:root {
   --bgColor: #faf7e9;
   --textColor: #000;
   --aHover: #ebebebcc;
   --link: #00f;
   --invert: 1;
   --brightness: 0;
   --brighten: 1;
}
.photo{
   filter: brightness(var(--brightness));
}
img{
   filter: brightness(var(--brighten));
}
/* theme */
@media screen and (prefers-color-scheme: dark) {
   :root {
      --bgColor: #050816;
      --textColor: #fff;
      --aHover: #332d51cf;
      --link: #ff0;
      --invert: 0;
      --brightness: 1;
      --brighten: 0.9;
   }
}
@media (hover: none) and (pointer: coarse) {
   #rellinks a {
      border: 1px dotted red;
      border-radius: 20px;
   }
}
html {
   font-family: "Sans-serif", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
   font-size: 10px;
}
* {
   box-sizing: border-box;
   color: var(--textColor);
}
body {
   margin: 0;
   background-color: var(--bgColor);
}
main {
   max-width: 2000px;
   margin: 0 auto;
   overflow-x: hidden;
}
a {
   text-decoration: none;
   transition: border 100ms ease;
}
a:hover {
   background-color: var(--aHover);
   border-radius: 10px;
}
/* introduce */
h1 {
   font-size: clamp(35px, 7vw, 140px);
   margin: 0;
   margin-bottom: -20px;
}
#introduce {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   padding: 20px 5%;
}
body::before {
   content: "";
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url('file/img/herobg.webp');
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   filter: invert(var(--invert));
   z-index: -1; /* Ensure the background is behind the content */
}
#introduce {
   height: 100svh;
   min-height: 400px;
}
#myImg {
   width: 40%;
   align-self: center;
   position: relative;
}
#myImg img {
   width: 100%;
   aspect-ratio: 1/1;
}
@keyframes svg {
   0% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(20px) rotate(15deg);
   }
}
#myIntroduce {
   width: 60%;
}
#myIntroduce span {
   font-size: clamp(25px, 5vw, 100px);
}
#myIntroduce p {
   margin: 0;
   font-size: clamp(20px, 2.5vw, 50px);
   margin-top: 20px;
}
.blue{
   color: var(--link);
}
#youNeed {
   display: flex;
   justify-content: flex-start;
   gap: 10px;
   margin: 10px 0;
}
#youNeed > * {
   display: flex;
   align-items: center;
   gap: 10px;
   background-color: var(--aHover);
   padding: 10px 20px;
   border-radius: 12px;
   color: var(--textColor);
   user-select: none;
   border: none;
   &:hover {
      background-color: rgb(121, 121, 243);
   }
}
#mode{
   width: 30px;
   height: 30px;
   border-radius: 100%;
   background-color: var(--textColor);
   &:hover{
      background-color: var(--textColor);
   }
}
/* skills */
main h2 {
   margin-left: 20px;
   font-size: clamp(25px, 5vw, 30px);
}
.skills{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px 50px;
   padding: 20px;
}
.skill {
   width: 100%;
}
.skill-name {
   font-size: 20px;
   font-weight: 700;
   color: var(--textColor);
   margin: 15px 0 5px 0;
   display: flex;
   align-items: center;
}
.skill-name img {
   width: 40px;
   aspect-ratio: 1/1;
   z-index: 2;
   margin-right: 10px;
   position: relative;
}

.skill-bar {
   height: 14px;
   background: #282828;
   border-radius: 3px;
}

.skill-per {
   height: 14px;
   background: #d13639;
   border-radius: 3px;
   position: relative;
   color: #000;
}
div.full.full {
   &::before{
      transform: translateX(0);
      top: -5px;
      padding: 0;
      border-radius: 2px;
      font-weight: 900;
      font-size: 22px;
      padding: 0 10px;
      color: green;
   }
   &::after{
      display: none;
   }
}
.skill-per.two {
   background-color: #00f;
}
.skill-per.three {
   background-color: rgb(247, 223, 30);
}
.skill-per.four{
   background-color: rgb(240, 60, 46);
}
.skill-per.five{
   background-color: rgb(74, 149, 246);
}
.skill-per.six{
   background-color: rgb(95, 160, 78);
}
.active {
   animation: fillBars 2.5s 1;
   animation-fill-mode: forwards;
}

.skill-per::before {
   content: attr(per);
   position: absolute;
   padding: 4px 6px;
   background: #f1f1f1;
   border-radius: 4px;
   font-size: 12px;
   top: 15px;
   right: 0;
   transform: translateX(50%);
   z-index: 1;
}

.skill-per::after {
   content: "";
   position: absolute;
   width: 10px;
   height: 10px;
   background: #f1f1f1;
   top: 10px;
   right: 0;
   transform: translateX(50%) rotate(45deg);
   border-radius: 2px;
}

@keyframes fillBars {
   from {
      width: 0;
   }
   to {
      width: 100%;
   }
}
/* projects */
#Projects {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
   gap: 30px 20px;
   padding: 0 15px;
}
.project {
   background-color: var(--aHover);
   padding: 10px;
   border-radius: 10px;
}
.project * {
   color: var(--textColor);
}
.projectsImg {
   border-radius: 10px 0;
   perspective: 1000px;
}
.projectsImg img {
   width: 100%;
   aspect-ratio: 16/9;
   border-radius: 5px 5px 0 0;
   transition: transform 0.1s ease-out;
   transform-origin: center;
}
#Projects h3 {
   margin: 5px 0;
   font-size: 20px;
   padding-top: 5px;
}
#Projects h3 a:hover{
   text-decoration: underline;
}
section#Projects#Projects p {
   padding: 0;
   margin: 10px 0;
}
/* education */
.educations{
   position: relative;
   left: 60px;
   padding-left: 30px;
}
.educations::before{
   content: "";
    position: absolute;
    top: 0;
    left: -18px;
    height: 100%;
    width: 4px;
    background: var(--textColor);
}
.demo {
   position: absolute;
   left: -70px;
   top: 0;
   width: 50px;
   height: 50px;
   border: 3px solid var(--textColor);
   background-color: var(--bgColor);
   border-radius: 100%;
   overflow: hidden;
}
.demo.firs{
   border: none;
}
.demo img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}
.demo.ejs{
   background-color: #f7df1e;
}
.ejs img{
   object-position: -7px -13px;
}
.demo .cc{
   filter: hue-rotate(200deg);
}
.sticky{
   position: fixed;
   top: 10px;
   left: 20px;
}
.demo .shayh{
   scale: 1.4;
}
.educateContent{
   position: relative;
   border-radius: 5px;
   width: min(87%, 700px);
   padding: 16px;
   background-color: var(--aHover);
   margin-bottom: 20px;
}
.educateContent::before{
   content: "";
   position: absolute;
   left: -5px;
   top: 14px;
   width: 20px;
   height: 20px;
   transform: rotate(45deg);
   background-color: var(--aHover);
}
.educateContent *{
   transition: all 0s ease;
}
.educateContent h3, #Projects h3{
   font-size: 26px;
   margin: 0;
   z-index: 2;
   position: relative;
}
.educateContent span{
   font-size: 18px;
}
.educateContent a{
   display: block;
   width: max-content;
   padding: 5px 0;
   &:hover{
      text-decoration: underline;
   }
}
.educateContent ul, #Projects p{
   font-size: 16px;
   line-height: 25px;
   padding-left: 20px;
}
.educateContent ul li:not(li:last-of-type){
   padding-bottom: 15px;
}
.date{
   font-size: 16px;
}
/* footer */

form {
   position: relative;
   max-width: 400px;
   margin: 0 0 0 20px;
   padding: 20px;
   background-color: var(--aHover);
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
   display: block;
   width: max-content;
   font-size: 16px;
   margin-bottom: 8px;
   color: var(--textColor);
   background-color: var(--aHover);
   margin: 0;
   position: absolute;
   top: 0;
   left: 28px;
   transition: all 100ms linear;
   user-select: none;
   backdrop-filter: blur(30px);
   &:hover{
      cursor: text;
   }
}
form label[for="fullName"]{
   top: 30px;
}
form label[for="email"]{
   top: 90px;
}
form label[for="message"]{
   top: 150px;
}

.input {
   width: 100%;
   padding: 10px;
   margin-bottom: 20px;
   background-color: var(--aHover);
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 16px;
   box-sizing: border-box;
   transition: border-color 0.3s ease;
}

.input:focus + label,
.input:valid + label{
   font-size: 13px;
   outline: none;
}
#fullName:focus + label,
#fullName:valid + label{
   top: 13px;
}
#email:focus + label,
#email:valid + label{
   top: 73px;
}
#message:focus + label,
#message:valid + label{
   top: 133px;
}

form input[type="submit"],
form input[type="reset"] {
   width: 48%;
   padding: 10px;
   background-color: var(--aHover);
   color: var(--textColor);
   border: 1px solid #ccc;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
   background-color: #0056b3;
}

form input[type="reset"]:hover {
   background-color: #c0392b;
}

form textarea {
   height: 100px;
   resize: vertical;
}

footer {
   margin: 50px 0;
}
footer a {
   padding: 7px 20px;
}
footer h2 {
   text-align: center;
   font-size: 40px;
}
#contact {
   padding: 0 5% 40px 5%;
   display: flex;
   flex-flow: row-reverse nowrap;
   flex-wrap: nowrap;
   align-items: stretch;
   justify-content: center;
}
div#rellinks{
   flex-direction: column;
}
#rellinks,
#rellinks a {
   display: flex;
   justify-content: center;
   align-items: baseline;
   flex-flow: row wrap;
   justify-content: flex-start;
   gap: 10px;
   width: 450px;
   font-size: 25px;
}
#rellinks a {
   color: var(--textColor);
   gap: 10px;
   align-items: center;
}
#rellinks strong {
   font-size: 40px;
   user-select: none;
}
#rellinks img {
   width: 30px;
   aspect-ratio: 1/1;
   user-select: none;
}
#rellinks img[src*="X.webp"]::after{
   content: "fuck ou";
}
#rellinks img[src*="X.webp"] {
   width: 21px;
}
#rellinks a[href*="x.com"] {
   transform: translateY(-5px);
}
#rellinks img[src*="description.svg"] {
   width: 24px;
}
#rellinks a[href*="read.cv"] {
   transform: translateY(-3px);
}
#rellinks img[src*="LinkedIn.svg"] {
   width: 21px;
}
#rellinks a[href*="linkden.com"] {
   transform: translateY(-4px);
}
#copywrite {
   margin: 0 10px;
}
/* media */
@media screen and (min-height: 1000px) {
   #introduce {
      height: max-content;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
   }
}
@media screen and (min-width: 1000px) {
   #youNeed > * {
      padding: 15px 25px;
      font-size: 40px;
   }
   #mode {
      width: 40px;
      height: 40px;
   }
   .skill-name {
      font-size: 30px;
   }
   .skill-name img {
      width: 50px;
   }
   .skill-bar {
      height: 20px;
   }
   .skill-per {
      height: 20px;
   }
   #educations{
      text-align: center;
   }
   .educations{
      left: 50%;
   }
   .demo{
      width: 70px;
      height: 70px;
      left: -88px;
   }
   .sticky{
      left: calc(50% - 51px) !important;
   }
   .educateContent{
      left: 10px;
      width: 400px;
      &::before{
         top: 22px;
      }
   }
   .educateContent h3, #Projects h3{
      font-size: 30px;
   }
   .educateContent span{
      font-size: 22px;
   }
   .educateContent ul, #Projects p{
      font-size: 18px;
   }
   .date{
      font-size: 20px;
      position: absolute;
      top: 20px;
      right: 510px;
      width: max-content;
   }
   .education:nth-child(odd) .educateContent{
      left: -500px;
      &>.demo{
         left: 105%;
      }
      &>.date{
         left: 510px;
      }
      
      &::before{
         left: 96%;
      }
   }
   #rellinks a span:first-of-type{
      display: none;
   }
   form{
      max-width: 700px;
   }
   input.input{
      width: 49.7%;
   }
   textarea.input{
      height: 150px;
   }
   #email + label{
      top: 30px;
      left: 51.5%;
   }
   #email:focus + label,
   #email:valid + label{
      top: 13px;
   }
   #message + label{
      top: 89.5px;
   }
   #message:focus + label,
   #message:valid + label{
      top: 72px;
   }
   form input[type="submit"], form input[type="reset"]{
      width: 49.7%;
   }
}
@media screen and (max-width: 1180px) {
   #rellinks a span:first-of-type{
      display: block;
   }
   #rellinks a span:last-of-type{
      display: none;
   }
   #rellinks, #rellinks a{
      max-width: 300px;
   }
}
@media screen and (min-width: 1400px) {
   .educateContent{
      width: 600px;
   }
   .date{
      right: 710px;
   }
   .education:nth-child(odd) .educateContent{
      left: -697px;
      &>.demo{
         left: 102.5%;
      }
      &>.date{
         left: 710px;
      }
      &::before{
         left: 97.5%;
      }
   }
}
@media screen and (min-width: 1500px) {
   #youNeed {
      gap: 30px;
      margin-top: 30px;
   }
   #myIntroduce #youNeed > * {
      font-size: 40px;
      padding: 25px 35px;
   }
}
@media screen and (min-width: 701px) {
   #youNeed * {
      font-size: 30px;
   }
   #myImg {
      order: 2;
   }
   #myIntroduce {
      order: 1;
   }
}
@media screen and (max-width: 1000px){
   #Projects{
      grid-template-columns: 1fr 1fr;
   }
   .project:last-child{
      width: 204%;
   }
}
@media screen and (max-width: 700px) {
   #introduce {
      flex-flow: column nowrap;
      justify-content: center;
      overflow: auto;
      height: 100vh;
      border-radius: 0;
      min-height: 650px;
   }
   #introduce > * {
      width: 100%;
   }
   h1 {
      margin-bottom: -5px;
   }
   #introduce * {
      text-align: center;
   }
   #introduce br {
      display: none;
   }
   #myImg {
      width: fit-content;
      margin: 5px auto;
   }
   #myImg img {
      max-width: 300px;
   }
   #youNeed {
      justify-content: center;
   }
   #youNeed > * {
      font-size: 2rem;
   }
   .skills{
      grid-template-columns: 1fr;
   }
   .skill:nth-child(1) {
      order: 1;
   }
   .skill:nth-child(2) {
      order: 4;
   }
   .skill:nth-child(3) {
      order: 2;
   }
   .skill:nth-child(4) {
      order: 5;
   }
   .skill:nth-child(5) {
      order: 3;
   }
   .skill:nth-child(6) {
      order: 6;
   }
   .project {
      width: 100%;
   }
   #contact{
      flex-flow: column nowrap;
   }
   form{
      width: 100%;
      max-width: 100%;
      margin: 0 0 50px 0;
   }
   #rellinks, #rellinks a {
      width: 100%;
      min-width: max-content;
      max-width: 100%;
      gap: 20px;
   }
   #Projects{
      grid-template-columns: 1fr;
   }
   .project:last-child{
      width: 100%;
   }
}
@media screen and (max-width: 600px) {
   .educations{
      left: 0;
      padding-left: 0;
      margin: 0 15px;
   }
   .demo{
      left: 15px;
      top: -25px;
   }
   .sticky{
      position: absolute;
      left: 15px;
      top: -25px;
   }
   .educateContent{
      padding-top: 25px;
      margin-top: 45px;
      width: 100%;
   }
   .educateContent h3{
      padding-top: 10px;
   }
   .educateContent::before{
      display: none;
   }
}
@media screen and (max-width: 500px) {
   .project {
      width: 100%;
      min-width: 100px;
   }
   #rellinks a {
      flex-direction: row;
      width: 100%;
   }
}